.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.background .container {
  width: 40%;
  height: 50%;
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: #999 5px 5px 10px;
  border: #ccc 1px solid;
  position: relative;
}

.background .container .title {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1.5rem;
}

.background .container .body {
  height: 75%;
  padding-right: 2rem;
  overflow-y: auto;
}

.background .container .buttons {
  position: absolute;
  bottom: 2rem;
  display: flex;
}

.background .container .buttons .saveBtn,
.background .container .buttons .closeBtn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 7rem;
  text-align: center;
  font-size: 0.8rem;
}

.background .container .buttons .saveBtn {
  background: linear-gradient(to right, #0083b0, #00b4db);
  margin-right: 1rem;
  color: #fff;
}

.background .container .buttons .closeBtn {
  border: #0083b0 1px solid;
  color: #000;
}

.background .container .buttons .saveBtn:hover,
.background .container .buttons .closeBtn:hover {
  font-weight: bold;
}
