.viewlist {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.viewlist .search_and_add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewlist .title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.viewlist .tablelist {
  font-size: 0.8rem;
  color: black;
}

.viewlist .tablelist .tablemetadata {
  height: 2rem;
  background: #eee;
}

.footer {
  font-size: 0.8rem;
  margin-top: 1rem;
}