.matrixlist {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

.matrixlist .title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.matrixlist .formP {
    font-size: 0.9rem;
}

.matrixlist .formP .formSelect {
    margin-left: 1rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.matrixlist .tablelist {
    font-size: 0.8rem;
    color: black;
  }
  
  .matrixlist .tablelist .tablemetadata {
    height: 2rem;
    background: #eee;
  }
  
  .footer {
    font-size: 0.8rem;
    margin-top: 1rem;
  }